@(message: String)

@main(message) {

    <div>
        <label>
            Root ID: <input type="text" id="root-id"/>
        </label>
        <label>
            Levels: <input type="text" id="levels" value="2"/>
        </label>
        <label>
            Backend:
                <select id="backend">
                    <option value="SQL">Closure tables</option>
                    <option value="GRAPH">GraphDB</option>
                </select>
        </label>
        <button id="fetch-tree">Fetch</button>
    </div>
    <div>
        <button id="create-new">Create new root-level node</button>
    </div>

    <div id="status"></div>
    <div id="tree-container"></div>
    
}
